In [1]:
import pandas as pd

## read in and normalize quantitative fields, one-hot encode categorical ones

In [2]:
env = pd.read_csv("env_remote_data_TARA.csv")

In [3]:
env.head()

,tara_label,filter_range,latitude,longitude,depth_sampled,year_sampled,month_sampled,chl_satellite,sst_satellite,par_satellite,...,ph_annual_historical,phosphate_annual_historical,phosphate_monthly_historical,salinity_annual_historical,salinity_monthly_historical,silicate_annual_historical,silicate_monthly_historical,sst_annual_historical,oceantemp_monthly_historical,oceantemp_annual_historical
0,TARA_004_DCM_0.22-1.6,0.22-1.6,36.5533,-6.5669,40,2009,9,0.319966,22.810,42.7459,...,8.089222,0.226462,0.193533,36.185513,36.149612,2.106339,0.440575,18.870750,17.918491,16.993300
1,TARA_004_SRF_0.22-1.6,0.22-1.6,36.5533,-6.5669,5,2009,9,0.319966,22.810,42.7459,...,8.089222,0.185249,0.104329,36.164690,36.276090,1.427391,0.067694,18.870750,21.371790,18.444700
2,TARA_007_DCM_0.22-1.6,0.22-1.6,37.0541,1.9478,42,2009,9,0.141310,25.325,39.8782,...,8.185778,0.141622,0.193746,37.340000,37.235588,1.763157,0.785809,19.365999,16.970890,15.915800
3,TARA_007_SRF_0.22-1.6,0.22-1.6,37.0510,1.9378,5,2009,9,0.141310,25.325,39.8782,...,8.185778,0.137900,0.186964,37.102590,37.015690,1.022139,0.000000,19.365999,24.632600,19.134200
4,TARA_009_DCM_0.22-1.6,0.22-1.6,39.0609,5.9422,55,2009,9,0.084704,26.425,38.8821,...,8.208055,0.116650,0.134084,37.708390,37.683800,2.038220,0.950470,19.488890,16.147000,15.100591

In [5]:
to_normalize = [u'latitude', u'longitude', u'depth_sampled', 
       u'chl_satellite', u'sst_satellite', u'par_satellite',
       u'pic_satellite', u'poc_satellite', u'npp_satellite',
       u'calcite_historical', u'chla_monthly_historical',
       u'chla_annual_historical', u'chla_annualrange_historical',
       u'cloudfraction_annual_historical', u'cloudfraction_monthly_historical',
       u'cloudfraction_annualstdev_historical',
       u'diffuseattenuation_annual_historical',
       u'daylength_monthly_historical', u'dustflux_annual_historical',
       u'dustflux_monthly_historical', u'dustflux_annualstdev_historical',
       u'solarinsolation_annual_historical',
       u'solarinsolation_monthly_historical',
       u'solarinsolation_annualstdev_historical',
       u'distfromland_annual_historical',
       u'pycnoclinedepth_monthly_historical',
       u'pycnoclinedepth_annualstdev_historical',
       u'thermoclinedepth_monthly_historical',
       u'thermoclinedepth_annualstdev_historical',
       u'nitrate_annual_historical', u'nitrate_monthly_historical',
       u'npratio_monthly_historical', u'oceandepth_historical',
       u'oxygendissolved_annual_historical',
       u'oxygendissolved_monthly_historical',
       u'oxygensaturation_annual_historical',
       u'oxygensaturation_monthly_historical',
       u'oxygenutilization_annual_historical',
       u'oxygenutilization_monthly_historical', u'par_annual_historical',
       u'ph_annual_historical', u'phosphate_annual_historical',
       u'phosphate_monthly_historical', u'salinity_annual_historical',
       u'salinity_monthly_historical', u'silicate_annual_historical',
       u'silicate_monthly_historical', u'sst_annual_historical',
       u'oceantemp_monthly_historical', u'oceantemp_annual_historical']

to_onehot = ['year_sampled','month_sampled']

In [6]:
'''
#testing how to deal with weird NAs
import numpy as np
numeric = pd.Series()
for value in env['pycnoclinedepth_annualstdev_historical']:
    try:
        new_val = pd.Series([float(value)])
    except ValueError:
        new_val = pd.Series([np.nan])
    numeric = numeric.append(new_val)
list((numeric - numeric.mean())/numeric.std())
'''

"\n#testing how to deal with weird NAs\nimport numpy as np\nnumeric = pd.Series()\nfor value in env['pycnoclinedepth_annualstdev_historical']:\n    try:\n        new_val = pd.Series([float(value)])\n    except ValueError:\n        new_val = pd.Series([np.nan])\n    numeric = numeric.append(new_val)\nlist((numeric - numeric.mean())/numeric.std())\n"

In [7]:
#subtract mean and divide by standard deviation
def normalize_col(df, columns):
    import pandas as pd
    import numpy as np
    for col in columns:
        print "processing ", col
        try:
            #subtract mean from column
            avg = df[col].mean()
            sd = df[col].std()
            new_col = (df[col] - avg)/sd
        except TypeError:
            numeric = pd.Series()
            for value in df[col]:
                try:
                    new_val = pd.Series([float(value)])
                except ValueError:
                    new_val = pd.Series([np.nan])
                numeric = numeric.append(new_val)
            avg = numeric.mean()
            sd = numeric.std()
            new_col = list((numeric-avg)/sd)
        df[col] = new_col
    return df
        
normalize_col(df=env, columns=to_normalize)
env.head()

processing  latitude
processing  longitude
processing  depth_sampled
processing  chl_satellite
processing  sst_satellite
processing  par_satellite
processing  pic_satellite
processing  poc_satellite
processing  npp_satellite
processing  calcite_historical
processing  chla_monthly_historical
processing  chla_annual_historical
processing  chla_annualrange_historical
processing  cloudfraction_annual_historical
processing  cloudfraction_monthly_historical
processing  cloudfraction_annualstdev_historical
processing  diffuseattenuation_annual_historical
processing  daylength_monthly_historical
processing  dustflux_annual_historical
processing  dustflux_monthly_historical
processing  dustflux_annualstdev_historical
processing  solarinsolation_annual_historical
processing  solarinsolation_monthly_historical
processing  solarinsolation_annualstdev_historical
processing  distfromland_annual_historical
processing  pycnoclinedepth_monthly_historical
processing  pycnoclinedepth_annualstdev_historical
processing  thermoclinedepth_monthly_historical
processing  thermoclinedepth_annualstdev_historical
processing  nitrate_annual_historical
processing  nitrate_monthly_historical
processing  npratio_monthly_historical
processing  oceandepth_historical
processing  oxygendissolved_annual_historical
processing  oxygendissolved_monthly_historical
processing  oxygensaturation_annual_historical
processing  oxygensaturation_monthly_historical
processing  oxygenutilization_annual_historical
processing  oxygenutilization_monthly_historical
processing  par_annual_historical
processing  ph_annual_historical
processing  phosphate_annual_historical
processing  phosphate_monthly_historical
processing  salinity_annual_historical
processing  salinity_monthly_historical
processing  silicate_annual_historical
processing  silicate_monthly_historical
processing  sst_annual_historical
processing  oceantemp_monthly_historical
processing  oceantemp_annual_historical

,tara_label,filter_range,latitude,longitude,depth_sampled,year_sampled,month_sampled,chl_satellite,sst_satellite,par_satellite,...,ph_annual_historical,phosphate_annual_historical,phosphate_monthly_historical,salinity_annual_historical,salinity_monthly_historical,silicate_annual_historical,silicate_monthly_historical,sst_annual_historical,oceantemp_monthly_historical,oceantemp_annual_historical
0,TARA_004_DCM_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.411640,2009,9,-0.096985,-0.042891,0.256728,...,-1.997077,-0.579264,-0.639436,0.335459,0.323402,-0.424447,-0.500385,-0.862369,-0.184874,-0.325101
1,TARA_004_SRF_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.556543,2009,9,-0.096985,-0.042891,0.256728,...,-1.997077,-0.630152,-0.759608,0.319332,0.421256,-0.463560,-0.524935,-0.862369,0.279277,-0.139174
2,TARA_007_DCM_0.22-1.6,0.22-1.6,1.512809,0.473278,-0.403360,2009,9,-0.186180,0.433128,-0.011497,...,0.108310,-0.684021,-0.639148,1.229620,1.163608,-0.444217,-0.477655,-0.771831,-0.312239,-0.463130
3,TARA_007_SRF_0.22-1.6,0.22-1.6,1.512690,0.473140,-0.556543,2009,9,-0.186180,0.433128,-0.011497,...,0.108310,-0.688617,-0.648285,1.045743,0.993475,-0.486906,-0.529391,-0.771831,0.717556,-0.050848
4,TARA_009_DCM_0.22-1.6,0.22-1.6,1.589907,0.528199,-0.349539,2009,9,-0.214441,0.641328,-0.104665,...,0.594076,-0.714855,-0.719523,1.514941,1.510384,-0.428371,-0.466814,-0.749365,-0.422977,-0.567559

#### one-hot encode

In [9]:
env_hot = pd.get_dummies(env,columns=to_onehot)
env_hot.head()

,tara_label,filter_range,latitude,longitude,depth_sampled,chl_satellite,sst_satellite,par_satellite,pic_satellite,poc_satellite,...,month_sampled_3,month_sampled_4,month_sampled_5,month_sampled_6,month_sampled_7,month_sampled_8,month_sampled_9,month_sampled_10,month_sampled_11,month_sampled_12
0,TARA_004_DCM_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.411640,-0.096985,-0.042891,0.256728,-0.195558,0.110098,...,0,0,0,0,0,0,1,0,0,0
1,TARA_004_SRF_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.556543,-0.096985,-0.042891,0.256728,-0.195558,0.110098,...,0,0,0,0,0,0,1,0,0,0
2,TARA_007_DCM_0.22-1.6,0.22-1.6,1.512809,0.473278,-0.403360,-0.186180,0.433128,-0.011497,-0.261279,-0.113733,...,0,0,0,0,0,0,1,0,0,0
3,TARA_007_SRF_0.22-1.6,0.22-1.6,1.512690,0.473140,-0.556543,-0.186180,0.433128,-0.011497,-0.261279,-0.113733,...,0,0,0,0,0,0,1,0,0,0
4,TARA_009_DCM_0.22-1.6,0.22-1.6,1.589907,0.528199,-0.349539,-0.214441,0.641328,-0.104665,-0.261279,-0.183824,...,0,0,0,0,0,0,1,0,0,0

#### intercept column

In [10]:
env_hot['intercept'] = 1
env_hot.head()

,tara_label,filter_range,latitude,longitude,depth_sampled,chl_satellite,sst_satellite,par_satellite,pic_satellite,poc_satellite,...,month_sampled_4,month_sampled_5,month_sampled_6,month_sampled_7,month_sampled_8,month_sampled_9,month_sampled_10,month_sampled_11,month_sampled_12,intercept
0,TARA_004_DCM_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.411640,-0.096985,-0.042891,0.256728,-0.195558,0.110098,...,0,0,0,0,0,1,0,0,0,1
1,TARA_004_SRF_0.22-1.6,0.22-1.6,1.493569,0.356205,-0.556543,-0.096985,-0.042891,0.256728,-0.195558,0.110098,...,0,0,0,0,0,1,0,0,0,1
2,TARA_007_DCM_0.22-1.6,0.22-1.6,1.512809,0.473278,-0.403360,-0.186180,0.433128,-0.011497,-0.261279,-0.113733,...,0,0,0,0,0,1,0,0,0,1
3,TARA_007_SRF_0.22-1.6,0.22-1.6,1.512690,0.473140,-0.556543,-0.186180,0.433128,-0.011497,-0.261279,-0.113733,...,0,0,0,0,0,1,0,0,0,1
4,TARA_009_DCM_0.22-1.6,0.22-1.6,1.589907,0.528199,-0.349539,-0.214441,0.641328,-0.104665,-0.261279,-0.183824,...,0,0,0,0,0,1,0,0,0,1

In [11]:
env_hot.to_csv("env_remote_data_TARA_preprocessed.csv", index=False)